:focus {
    outline: none;
}

.inputContainer {
    max-width: 100%;
    margin: 50px 0;
    position: relative;

}

.input{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.input ~ .focusBorder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.input:focus ~ .focusBorder,
.has-content.input ~ .focusBorder {
    width: 100%;
    transition: 0.4s;
    margin-top: 20px;
}

