.formWrapper {
    max-width: 400px;
    padding: 0 30px;
    text-align: center;
}

.pageName {
    color: #262525;
    font-size: 30px;
}

.title{
    opacity: 0.6;
    color: #676565;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.statusMessage {
    font-size: 14px;
    margin-bottom: 14px;

    font-weight: bold;
    text-align: center;
    color: #dc4734;
}


.loginLink {
    padding-top: 28px;
    margin-bottom: 0;
    opacity: 0.6;
    font-size: 16px;
    font-weight: bold;
    color: #676565;
    text-decoration: none;
    transition: ease-in 200ms;
}

.loginLink:hover {
    opacity: 0.8;
    color: #262525;
}

