.wrapper{
    text-align: center;
}

.loginForm{
    max-width: 400px;
    margin: 0 auto;
}
.wrapper  a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    padding: 0 5px;
    font-weight: 600;
    text-transform: uppercase;
}